/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
} */

 .container {
  padding: 40px;
}
.conteudo {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.titulo{
    display: flex;
    margin-inline: 80px;
}
.titulos{
    display: flex;
    margin: 80px 30px 40px 80px;
}
.texto{
    display: flex;
    margin: 0px 80px ;
}
.texto2{
    margin: 0px 0px 40px 80px ;
    flex: 1;
}
.imagem {
  width: 50%;
}
.imagem img {
    /* flex: 1; */
  margin: 0px 80px 0px 0px ;
  width: 500px;
  height: auto;
  display: block;
  border-radius: 6px;
  /* width: 400px;
  height: auto;
  border-radius: 6px; */
  /* se colocar % a borda fica redonda */
}
.topico{
    display: flex;
    margin: 80px 30px 40px 118px;
 }
.topicos {
    display: flex;
}
.topicos H3{
    display: inline;  
    margin-left: -100px; 
    font-size: 30px;
}
.topicos p{
    
    margin-left: -100px; 
    font-size: 30px;
}
.box{
   
    /* margin-right: 3%; */
    padding: 50px 150px;
    /* width: 100%; */
    /* align-content: center; */
    height: auto;
    border-radius: 6%;
    border: 5px solid #064661;
    /* border-color: #064661; */
}
.box-1{
    margin-left: 110px;
}
.box-2{
    color: aliceblue
}
.box-3{
    margin-right: 110px;
}
.galeria{
    height: auto;
    border-radius: 50px;
}
.g1{
    margin-left: 110px;
}
.g4{
    margin-right: 110px;
}